{% extends "base.html" %}

{% block contenido %}
<h2>Acerca de mí</h2>

<p>
    Soy Catalina Berruete Contadora Publica recibida de la Universidad de Buenos Aires y este sitio corresponde al
    proyecto final del curso de Python.
</p>

<p>
    http://linkedin.com/in/catalina-berruete
</p>

<p>
    El objetivo de esta aplicación es gestionar publicaciones tipo blog
    para un estudio contable, donde los clientes puedan consultar novedades impositivas y contables, utilizando Python y
    Django.
</p>
{% endblock %}